# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*

# Streamlit
.streamlit/secrets.toml
.streamlit/*.bak

# Cache / output vari
**/.ipynb_checkpoints/
**/.mypy_cache/
**/.pytest_cache/
**/.DS_Store
